/*Style page connexion*/

* {
    font-family: Arial, sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../img/Image_de_fonds.jpeg') no-repeat center center fixed;
    background-size: cover;
}

.container-index {
    width: 330px;
    padding: 35px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.image-au-dessus {
    display: block;
    margin: 0 auto 20px;
    width: 150px;
}

h1 {
    margin-bottom: 20px;
}

.label-login {
    display: block;
    margin-bottom: 5px;
}

.information-login {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    width: calc(100% - 20px);
}

.button-login {
    display: inline-block;
    padding: 8px 18px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.button:hover {
    background-color: #0056b3;
}

/*Style page changement de mot de passe*/


.container-mdp {
    width: 330px;
    padding: 35px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.label-mdp {
    display: block;
    margin-bottom: 5px;
}

.information-mdp {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    width: calc(100% - 20px);
}

.button-mdp {
    display: inline-block;
    padding: 8px 18px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

/*Style navbar*/

.navbar {
    background-color: #007bff;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
    margin-right: auto; 
}

.nav-links {
    margin-left: auto;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.nav-links a:hover {
    text-decoration: underline;
}

/*Style page secrétaire*/



/*Style page admin*/

/*Style page pre-admission */ 

.requis{
    color: red;
}

/*Style formulaire pré-admission*/

.container-pre-admission {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    width: calc(100% - 20px);
}